@using System.IO
@code {
    [Parameter] public Layout.Diagram Diagram { get; set; }
    [Parameter] public string Error { get; set; }
    Render.Renderer renderer;
    string dataURL;
    string error;

    protected override void OnInitialized()
    {
        renderer = new Render.Renderer();
    }

    protected override void OnParametersSet()
    {
        error = Error;

        if (Diagram != null)
        {
            try
            {
                var image = renderer.Render(Diagram);

                using (var stream = new MemoryStream())
                {
                    image.Encode().SaveTo(stream);
                    var base64 = Convert.ToBase64String(stream.ToArray());

                    dataURL = "data:image/png;base64," + base64;
                }
            }
            catch (Exception e)
            {
                error = e.Message;
            }
        }
    }
}

<div class="layout">
    @if (dataURL != null)
    {
        <img src="@dataURL" />
    }
    @if (error != null)
    {
        <div class="overlay">@error</div>
    }
</div>