@page "/"
@using System.IO
@using Microsoft.Extensions.FileProviders
@inject Render.SKDiagramGenerator generator
@code {
    IFileProvider provider;
    string source;
    string sample;
    SkiaSharp.SKImage img;
    string err;

    string Source
    {
        get => source;
        set
        {
            source = value;
            Parse();
        }
    }

    string Sample
    {
        get => sample;
        set
        {
            sample = value;
            SetSample(sample);
            Parse();
        }
    }

    protected override void OnInitialized()
    {
        provider = new EmbeddedFileProvider(typeof(Program).Assembly);

        using (var sourceStream = provider.GetDirectoryContents("").First().CreateReadStream())
        {
            using (var reader = new StreamReader(sourceStream))
            {
                source = reader.ReadToEnd();
            }
        }
    }

    protected override void OnParametersSet()
    {
        Parse();
    }

    private void SetSample(string name)
    {
        using (var sourceStream = provider.GetFileInfo(name).CreateReadStream())
        {
            using (var reader = new StreamReader(sourceStream))
            {
                source = reader.ReadToEnd();
            }
        }
    }

    private void Parse()
    {
        var doc = generator.GenerateDiagram(source).Match(result =>
        {
            err = result.Warnings.Any() ? result.Warnings.Join() : null;
            return result.Diagram;
        }, errors =>
        {
            err = errors.Join();
            return null;
        });

        // XXX display the source-position errors in some nice way, maybe in a monaco editor

        img = doc == null ? null : generator.GenerateImage(doc);

        StateHasChanged();
    }
}

<h2 class="title">Live Preview</h2>

<div class="layout">
    <div class="editor">
        <textarea @bind="Source" @bind:event="oninput" spellcheck="false">
        </textarea>

        <div class="bottom-bar">
            <label>Sample diagrams:</label>
            <select @bind="Sample">
                @foreach (var file in provider.GetDirectoryContents(""))
                {
                    <option value="@file.Name">@file.Name[8..]</option>
                }
            </select>
        </div>
    </div>

    <div class="preview">
        <LivePreview Image="@img" Error="@err" />
    </div>
</div>