@page "/"
@using System.IO
@using Microsoft.Extensions.FileProviders
@code {
    IFileProvider provider;
    DiagramGenerator generator;
    string source;
    string sample;
    Layout.Diagram doc;
    string err;

    string Source
    {
        get => source;
        set
        {
            source = value;
            Parse();
        }
    }

    string Sample
    {
        get => sample;
        set
        {
            sample = value;
            SetSample(sample);
            Parse();
        }
    }

    protected override void OnInitialized()
    {
        provider = new EmbeddedFileProvider(typeof(Program).Assembly);
        generator = new DiagramGenerator();

        using (var sourceStream = provider.GetDirectoryContents("").First().CreateReadStream())
        {
            using (var reader = new StreamReader(sourceStream))
            {
                source = reader.ReadToEnd();
            }
        }
    }

    protected override void OnParametersSet()
    {
        Parse();
    }

    private void SetSample(string name)
    {
        using (var sourceStream = provider.GetFileInfo(name).CreateReadStream())
        {
            using (var reader = new StreamReader(sourceStream))
            {
                source = reader.ReadToEnd();
            }
        }
    }

    private void Parse()
    {
        generator.GenerateDiagram(source).Switch(result =>
        {
            doc = result.Diagram;
            err = result.Warnings.Any() ? result.Warnings.Join() : null;
        }, errors =>
        {
            doc = null;
            err = errors.Join();
        });

        StateHasChanged();
    }
}
<h1>Live Preview</h1>

<div class="layout">
    <div class="editor">
        <textarea @bind="Source" @bind:event="oninput" spellcheck="false">
        </textarea>

        <div class="bottom-bar">
            <label>Sample diagrams:</label>
            <select @bind="Sample">
                @foreach (var file in provider.GetDirectoryContents(""))
                {
                    <option value="@file.Name">@file.Name[8..]</option>
                }
            </select>
        </div>
    </div>

    <div>
        <LivePreview Diagram="@doc" Error="@err" />
    </div>
</div>