@media (max-width: 640.98px) {
    .title {
        display: none;
    }
}

.layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.layout > * {
    border: 2px solid black;
}

.editor {
    flex-grow: 1;
    min-width: 360px;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 2rem;
}

@media (min-width: 1009px) {
    .editor {
        margin-right: 2rem;
    }
}

.preview {
    flex: 1;
    flex-basis: 360px;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 2rem;
    overflow: auto;
}

.sample-selector {
    display: grid;
    grid-template-columns: auto 1fr;
}

label {
    margin-bottom: 0;
}

.error {
    border-color: red;
}