@page "/"
@code {
    Superpower.Tokenizer<TokenKind> tokenizer;
    Superpower.TokenListParser<TokenKind, AST.Document> parser;
    string source;
    AST.Document doc;
    string err;

    string Source
    {
        get => source;
        set
        {
            source = value;
            Parse();
        }
    }

    protected override void OnInitialized()
    {
        source = System.IO.File.ReadAllText("demo.1000");
        tokenizer = Tokenizer.Build();
        parser = Parser.Build();
    }

    protected override void OnParametersSet()
    {
        Parse();
    }

    private void Parse()
    {
        var tokens = tokenizer.TryTokenize(source);
        if (!tokens.HasValue)
        {
            doc = null;
            err = tokens.ToString();
            return;
        }

        var ast = parser(tokens.Value);
        if (!ast.HasValue)
        {
            doc = null;
            err = ast.ToString();
            return;
        }

        doc = ast.Value;
        err = null;

        StateHasChanged();
    }
}
<h1>Live Preview</h1>

<div class="layout">
    <textarea @bind="Source" @bind:event="oninput" spellcheck="false">
    </textarea>

    <div>
        <LivePreview Source="@doc" Error="@err" />
    </div>
</div>