@page "/"
@code {
    DiagramGenerator generator;
    string source;
    Layout.Diagram doc;
    string err;

    string Source
    {
        get => source;
        set
        {
            source = value;
            Parse();
        }
    }

    protected override void OnInitialized()
    {
        source = System.IO.File.ReadAllText("demo.1000");
        generator = new DiagramGenerator();
    }

    protected override void OnParametersSet()
    {
        Parse();
    }

    private void Parse()
    {
        generator.GenerateDiagram(source).Switch(result =>
        {
            doc = result.Diagram;
            err = result.Warnings.Any() ? string.Join(Environment.NewLine, result.Warnings.Select(e => e.Message)) : null;
        }, errors =>
        {
            doc = null;
            err = string.Join(Environment.NewLine, errors.Select(e => e.Message));
        });        

        StateHasChanged();
    }
}
<h1>Live Preview</h1>

<div class="layout">
    <textarea @bind="Source" @bind:event="oninput" spellcheck="false">
    </textarea>

    <div>
        <LivePreview Diagram="@doc" Error="@err" />
    </div>
</div>