.layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
}

textarea {
    height: 600px;
    outline: none;
}

.layout > * {
    border: 2px solid black;
}

.layout > div {
    display: grid;
}

.error {
    border-color: red;
}