@page "/"
@using System.IO
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Environment
@code {
    DiagramGenerator generator;
    string source;
    Layout.Diagram doc;
    string err;

    string Source
    {
        get => source;
        set
        {
            source = value;
            Parse();
        }
    }

    protected override void OnInitialized()
    {
        generator = new DiagramGenerator();
        using (var sourceStream = Environment.ContentRootFileProvider.GetFileInfo("demo.1000").CreateReadStream())
        {
            using (var reader = new StreamReader(sourceStream))
            { 
                source = reader.ReadToEnd();
            }
        }
    }

    protected override void OnParametersSet()
    {
        Parse();
    }

    private void Parse()
    {
        generator.GenerateDiagram(source).Switch(result =>
        {
            doc = result.Diagram;
            err = result.Warnings.Any() ? result.Warnings.Join() : null;
        }, errors =>
        {
            doc = null;
            err = errors.Join();
        });

        StateHasChanged();
    }
}
<h1>Live Preview</h1>

<div class="layout">
    <textarea @bind="Source" @bind:event="oninput" spellcheck="false">
    </textarea>

    <div>
        <LivePreview Diagram="@doc" Error="@err" />
    </div>
</div>