.layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
}

.editor {
    display: grid;
    grid-template-rows: 1fr auto;
}

.bottom-bar {
    display: grid;
    grid-template-columns: auto 1fr;
}

label {
    margin-bottom: 0;
}

textarea {
    outline: none;
}

.layout > * {
    border: 2px solid black;
}

.layout > div {
    display: grid;
}

.error {
    border-color: red;
}