@page "/"
@code {
    static readonly string template = @"node ""Rounded Thing"" [shape=rounded, stroke=green] 
node ""Square\nThing"" [stroke=red, fill=#99f]
node ""Some Thing"" [label=""Oval Thing"", shape=oval, fill=#ccc]
node ""Another Thing""

edge ""Square\nThing"" ""Some Thing""
edge ""Some Thing"" ""Another Thing"" [stroke=#ff0044]";

    Superpower.Tokenizer<TokenKind> tokenizer;
    Superpower.TokenListParser<TokenKind, AST.Document> parser;
    string source = template;
    AST.Document doc;
    string err;

    string Source
    {
        get => source;
        set
        {
            source = value;
            Parse();
        }
    }

    protected override void OnInitialized()
    {
        tokenizer = Tokenizer.Build();
        parser = Parser.Build();
    }

    protected override void OnParametersSet()
    {
        Parse();
    }

    private void Parse()
    {
        var tokens = tokenizer.TryTokenize(source);
        if (!tokens.HasValue)
        {
            doc = null;
            err = tokens.ToString();
            return;
        }

        var ast = parser(tokens.Value);
        if (!ast.HasValue)
        {
            doc = null;
            err = ast.ToString();
            return;
        }

        doc = ast.Value;
        err = null;

        StateHasChanged();
    }
}
<h1>Live Preview</h1>

<div class="layout">
    <textarea @bind="Source" @bind:event="oninput" spellcheck="false">
    </textarea>

    <div>
        <LivePreview Source="@doc" Error="@err" />
    </div>
</div>